body {
  background-color: black;
  color: white;
}

nav {
  background-color: white;
  text-align: center;
}

h2 {
  color: #ff6161;
}

h3 {
  color: #00aed1;
}

footer {
  text-align: center;
  background-color: #ACFFA8;
  color: #81036E;
}

.AboutMe {
  color: #12ba2e;
}

.h1InIndex {
  color: #81036E;
  font-family: 'Montserrat', sans-serif;
}

.h1InOther {
  color: black
}

.navLinks {
  display: inline-flex;
  list-style: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.gridText {
  grid-column: 1;
}

.gridText p:first-of-type {
  margin-bottom: 300px;
}

.gridImage {
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ACFFA8;
}

@media screen and (max-width: 600px) {
  .navLinks {
    display: flex;
    justify-content: center;
  }

  .courseList {
    display: grid;
    grid-template-rows: repeat(3,1fr);
    gap: 5px;
  }

  .courseDescriptionBorder {
    border-bottom: solid 5px #ACFFA8;
    text-align: left;
  }
}

@media screen and (min-width: 600px) {
  .navLinks {
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: 1fr 2fr;
  }

  .courseDate {
    margin-top: 100px;
  }

  .courseDescriptionBorder {
    border-bottom: solid 5px #ACFFA8;
    text-align: right;
  }

  .courseDescription3 {
    text-align: right;
  }
}