body {
  background-color: black;
  color: white;
}

.h1InIndex {
  color: #979df7;
  font-family: 'Montserrat', sans-serif;
}

nav {
  background-color: white;
  text-align: center;
}

h2 {
  color: #ff6161;
}

h3 {
  color: #00aed1;
}

.AboutMe {
  color: #12ba2e;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.gridText {
  grid-column: 1;
}

.gridText p:first-of-type {
  margin-bottom: 300px;
}

.gridImage {
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}