body {
  background-color: black;
  color: white;
}

h1 {
  color: #979df7;
  font-family: 'Montserrat', sans-serif;
}

nav {
  background-color: #36454f;
  text-align: center;
}

h2 {
  color: #ff6161;
}

h3 {
  color: #00aed1;
}

.AboutMe {
  color: #12ba2e;
}
